/* From Uiverse.io by csemszepp */ 
.custumFileUpload {
    height: 200px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #212121;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
  }
  
  .custumFileUpload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custumFileUpload .icon svg {
    height: 80px;
    fill: #e8e8e8;
  }
  
  .custumFileUpload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custumFileUpload .text span {
    font-weight: 400;
    color: #e8e8e8;
  }
  
  .custumFileUpload input {
    display: none;
  }